$light-grey: #e8e8e8;
$mint: #d2f3f1;

$text: rgba(0, 0, 0, 0.87);
$text-muted: #606060;
$text-blue: #0e5884;
$text-green: #0e8451;

$shadow-color: rgba(0, 0, 0, 0.4)

$font-default: Avenir, Helvetica, Arial, sans-serif
$font-monospace: monospace