@import '_debug';
@import '_helpers';

html, body
  min-height: 100vh;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

#app.fish.layout > .footer
  background: black
  color: white