@import '_debug'
@import '_helpers'

html, body
  min-height: 100vh;

  font-family: $font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

h1.header
  font-size: 3.125em
h2.header
  font-size: 2.618em
h3.header
  font-size: 1.931em
h4.header
  font-size: 1.618em
h5.header
  font-size: 1.194em
h6.header
  font-size: 1em
h1, h2, h3, h4, h5, h6
  &.header
    margin-bottom: 1em

.container
  flex: 1
  padding: 2rem 2rem 0
  max-width: 1080px
  margin: auto

.container-fluid
  flex: 1
  padding: 2rem 2rem 0

.pad-v
  padding: 1rem 0
.pad-h
  padding: 0 1rem
.pad-vh
  padding: 1rem
.pad-l
  padding-left: 1rem
.pad-r
  padding-right: 1rem
.pad-t
  padding-top: 1rem
.pad-b
  padding-bottom: 1rem


.align-right
  text-align: right
  justify-content: flex-end

.clickable
  cursor: pointer

.fish.form.inline
  display: flex

  .field
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &:last-child
      margin-right: 0

#app.fish.layout
  > .header
    background: #004950
    box-shadow: 0px 0px 3px $shadow-color
  > .content
    display: flex
    justify-items: stretch
  > .footer
    background: #004950
    color: white

.fish.button
  i.fa + span
    margin-left: 0.5em
  span + i.fa
    margin-left: 0.5em

.inset-shadow
  position: relative
  &:before
    content: ''
    pointer-events: none
    position: absolute
    width: 100%
    height: 100%
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2)
    z-index: 9

.muted
  color: $text-muted